<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %-10thread %-42logger %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="infra.remoting.fragmentation" level="INFO" />
  <logger name="infra.remoting.examples" level="DEBUG"/>
  <logger name="infra.remoting.FrameLogger" level="INFO"/>
  <logger name="reactor.netty" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
