<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %-10thread %-42logger %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="infra.remoting.transport.netty" level="INFO" />
  <logger name="infra.remoting.FrameLogger" level="INFO" />
  <logger name="infra.remoting.fragmentation.FragmentationConnection" level="INFO" />
  <logger name="infra.remoting.transport.netty" level="INFO" />
  <logger name="infra.remoting.core.RequesterChannel" level="DEBUG" />
  <logger name="infra.remoting.core.ResponderChannel" level="DEBUG" />
  <logger name="infra.remoting.test.TransportTest" level="DEBUG" />
  <logger name="infra.remoting.resume.ClientChannelSession" level="DEBUG" />
  <logger name="infra.remoting.resume.ServerChannelSession" level="DEBUG" />
  <logger name="infra.remoting.resume.ResumableConnection" level="DEBUG" />
  <logger name="infra.remoting.resume.InMemoryResumableFramesStore" level="DEBUG" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
